.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(255, 255, 255);
    background-image: url("https://e0.pxfuel.com/wallpapers/23/572/desktop-wallpaper-artistic-pixel-art-p-pink-anime-art-pink-pc-cute-pastel-pixel-aesthetic.jpg");
    background-size: cover; /* The 'background-size' property is set to 'cover', ensuring that the image covers the entire background area of the body element. */
    resize: both; /* The 'resize' property is set to 'both', allowing the body element to be resized in both horizontal and vertical directions. */
    overflow: scroll; /* The 'overflow' property is set to 'scroll', adding a scrollbar to the body element for scrolling when content exceeds the visible area. */

  }
  #content{
    background-color: pink
}
body {
    background-color: rgb(245, 132, 173);
  }

button {
    color: rgba(0, 0, 0, 0.097);
    border: rgb(0, 0, 0) 0px;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    background-image: linear-gradient(to right, #f2c462 0%, #eea6ee 51%, #a2fbb1 100%);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }
  #heading {
    color: white;
  }
  #screenshot {
    width: 500px;
  }

h1{
  font-family: Copperplate, Papyrus, fantasy;
}
h2, h3, h4 {
  font-family: Chalkduster, fantasy;
  font-weight: bold;
  margin: 0;
  font-size:150%
}

#output {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
  }