body {
    background-color: #1a0848;
  }
h1{
    color: rgb(67, 186, 7);
    font-size: 200%;
}
p{
    font-family: "comic sans";
    text-indent: 20px;
    margin-left: 10px;
}
#content{
    background-color: #c50808ce;
    width: 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: dotted 1px #FFFF00;
    font-size: 20px;
}
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 10px #87e94e;
    background-color: #fb0ed3f9;
  }
  #content{
    margin: 10px;
    padding:30px;
    border: dotted 100px #e92bb0;
    background-color: #ea7515;
  }
#my-portrait {
    width: 300px;
}